@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400;500;700&family=Roboto+Slab:wght@400;700&family=Roboto:wght@400;500;700;900&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html{
    height: 100%;
}

body{
    font-family:'Roboto Mono', sans-serif;
    font-size: 1.2rem;
    min-height: 100% ;
}

main{
    display: flex;
    margin-left:80px ;
    margin-bottom: 50px;

}